/* remove default margin and padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1da1f2;
}

/* Title of Game(Header) */
.game-title{
  background: #fff;
  padding: 15px;
}

.game-title > h1{
  text-align: center;
}

/* Score board */
main .score-board{
  position: relative;
  margin: 50px auto;
  width: 300px;
  height: 100px;
  border: 2px solid #fff;
}

.score-board > .player{
  background: #ff6600;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
}
.score-board > .player-a{
  position: absolute;
  top: 18px;
  left: -28px;
}
.score-board > .player-b{
  position: absolute;
  top: 18px;
  right: -28px;
}
.player-a span{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 2px;
}
.player-b span{
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 2px;
}

.score-board > .player-score{
  position: absolute;
  top: 40px;
  left: 130px;
}

.player-score > span{
  font-size: 30px;
  color: #fff;
}
/* Score Message */
.score-message > p{
  text-align: center;
  color: #fff;
}

/* Ball Selection */
.ball-selection{
  width: 300px;
  margin: 10px auto;
  text-align: center;
}
.ball-selection > .ball{
  display: inline-block;
  margin: 0 5px;
}

.ball > img{
  width: 50px;
  height: 50px;
}

.ball > img:hover{
  cursor: pointer;
}











